<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>CronometroListener</description>
        <listener-class>listeners.CronometroListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ContextProviderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>servlets.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProducto</servlet-name>
        <servlet-class>servlets.AddProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarMailPedido</servlet-name>
        <servlet-class>servlets.EnviarMailPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPedido</servlet-name>
        <servlet-class>servlets.ConfirmarPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProducto</servlet-name>
        <url-pattern>/private/AddProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarMailPedido</servlet-name>
        <url-pattern>/EnviarMailPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPedido</servlet-name>
        <url-pattern>/ConfirmarPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>principal.jsp</welcome-file>
    </welcome-file-list>
    <!--
    Ahora tenemos la opcion de usar DataSource, con un pool de conexiones
    -->
    <resource-ref>
          <description>DB Connection</description>
          <res-ref-name>jdbc/mysql</res-ref-name>
          <res-type>javax.sql.DataSource</res-type>
          <res-auth>Container</res-auth>
      </resource-ref>
    <!--
    Parametros para el acceso a la webPage de login
    -->
    <context-param>
        <param-name>login_page</param-name>
        <param-value>/login.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>home_page</param-name>
        <param-value>/Perfum/principal.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>pedido_productos</param-name>
        <param-value>/Perfum/private/carrito_compras.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>pedido_confirm</param-name>
        <param-value>http://crucijuegos.dyndns.org:4848/Perfum/confirmacionPedido.jsp</param-value>
    </context-param>

    <!--
    Probando que el usuario ingrese datos erroneos...
    -->
    <error-page>
        <exception-type>perfum.exceptions.ClienteNotFoundException</exception-type>
        <location>/errorPageClient.jsp</location>
    </error-page>

    </web-app>
